.news__body-wrapper {
  .engagement-bar-wrapper {
    transition: opacity 200ms ease-in-out;
    opacity: 0;

    &:hover {
      opacity: 1;
    }
  }

  .news__body.grid {

    @media (min-width: 1024px) {
      grid-template-areas:
        ". . . body_center body_center body_center body_center body_center body_center ."
        ". . . body_right body_right body_right body_right body_right body_right .";
    }

    .news__body__center__article {
      display: flex;
      flex-direction: column;

      .media--image.format-20-pcent,
      .media--image.format-33-pcent,
      .media--image.format-50-pcent,
      .media--image.format-66-pcent {
        margin-left: auto;
        margin-right: auto;
        float: unset;
      }

      aside.read-also {
        order: 9999;
        margin-left: unset;
        margin-right: unset;

        @media (min-width: 1024px) {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}

.blogs__body-wrapper {
  .blogs__body.grid {
    @media (min-width: 1024px) {
      grid-template-areas:
        '. . . body_left body_left body_left body_left body_left body_left'
        '. . . body_center body_center body_center body_center body_center body_center'
        '. . . body_bottom body_bottom body_bottom body_bottom body_bottom body_bottom'
        '. . . body_right body_right body_right body_right body_right body_right';
    }

    .blogs__body__left__sticky-wrapper {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }

    .blogs__rich-text-content {

      .media--image.format-20-pcent,
      .media--image.format-33-pcent,
      .media--image.format-50-pcent,
      .media--image.format-66-pcent {
        margin-left: auto;
        margin-right: auto;
        float: unset;
      }
    }
  }
}

.nav.nav__news._sticky._scroll-bottom {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 150ms;

  &:hover {
    opacity: 1;
  }
}