.news__body-wrapper {

  .engagement-bar-wrapper {
    transition: opacity 200ms ease-in-out;
    opacity: 0;

    &:hover {
      opacity: 1;
    }
  }

  .news__body.grid {
    display: block;

    .news__body__center__container {
      margin: 0px auto;
    }

    .news__body__right {
      max-width: calc(min(100%, 350px));
      margin: 0px auto;
    }

    .news__body__center__article {
      display: flex;
      flex-direction: column;

      aside.read-also {
        order: 9999;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}