body.not-une {
  .content-article ol,
  .content-article p,
  .content-article ul {
    margin: 0.75em 0;
  }
  div.accur8-desktop {
    div.content-article {
      display: block;
      margin-left: auto;
      margin-right: auto;
      div.page-pane {
        display: flex;
        flex-direction: column;
        .media {
          margin: auto;
          float: none;
        }
        .read-also {
          order: 12000;
          width: 100%;
        }
      }
    }
    aside.aside-region {
      width: auto;
      display: flex;
      flex-wrap: wrap;
      div.universe-journal,
      div.universe-club {
        flex-grow: 1;
      }
    }
  }
}
